<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shortcutsdkexample.scm.com.shortcutsdkdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.shortcutmedia.shortcut.sdk.API_KEY"
            android:value="40552bf6b886ab0a89a50712b256bb423dd9e180" />
        <meta-data
            android:name="com.shortcutmedia.shortcut.sdk.API_SECRET"
            android:value="13679446ee03264934bf97e2b29b9dfc74428ab9" />

        <activity
            android:name="com.scm.shortcutsdkexample.CameraActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.scm.shortcutsdkexample.ScannerActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>